/* footer  */
.footer_ul_li li {
  color: white;
}

.footer_ul_li {
  margin-left: 23px;
}

.sndsection_img_1 {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 770px) {
  .logo-color {
    display: block !important;
  }
}

/* member  */


.member-height {
  height: 243px;
}

.list-styled li {
  color: #3a3630 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  padding: 4px 0 6px 31px !important;
  position: relative;
}

.new-card-inner {
  box-shadow: 0 5px 29px 0 lightgrey;
  padding: 30px;
  border-top: 5px solid #0b9901;
  background: #f3ffef;
  border-radius: 20px;
}

.new-card-heading-div-p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.new-card-heading-div-h3 {
  font-size: 38px;
  color: #1db7eb;
  margin: 0;
  font-weight: 600;
}

.new-card-heading-div {
  margin-bottom: 42px;
}

.new-card-heading-div-p1 {
  font-size: 15px;
  font-weight: 500;
}

.new-card-ul {
  padding: 0;
  list-style: none;
  margin-bottom: 34px;
}

.new-card-i {
  font-weight: 300;
  color: #92e4ff;
}

.new-card-i2 {
  font-weight: 300;
  color: #ff8d8d;
}

.new-card-li {
  margin: 10px 0;
}

.new-card-span {
  font-size: 13px;
  color: #424242;
  margin-left: 4px;
}

.new-card-span2 {
  font-size: 13px;
  color: gray;
  margin-left: 4px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.card-bottom-p {
  margin: 5px 0;
}

.btn-join {
  color: #1db7eb;
  border: 1px solid #1db7eb;
  background: none;
  width: 100%;
  margin-top: 23px;
  padding: 10px;
  border-radius: 50px;
}

.btn-join:hover {
  background: #1db7eb;
  color: white;
}

.ds .color-main {
  color: #d1d1d1;
}

.bg-2 {
  background: #f2f6ff;
  border-top: 5px solid #0031a1;
}

.bg-3 {
  background: #f2ecff;
  border-top: 5px solid #4600df;
}

.travel_credits_area .post.side-item .item-content {
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.membership_area {
  margin: 0;
}

.p-font-size {
  font-size: 36px !important;
}



/* traning  */

.new-p-training-div-1-h1 {
  font-size: 28px;
}

.new-p-training-div {
  padding: 35px 0 10px;
}

.new-p-training-div-img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-top: 7px;
}

.new-p-training-div-span {
  font-size: 14px;
  line-height: 23px;
}

.new-p-training-div-ul li {
  margin: 10px 0;
}

.new-p-training-div-1-p {
  font-size: 14px;
  line-height: 23px;
}

.new-p-training-div-main-img1 {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.new-p-training-div-main-p {
  font-weight: 700;
  margin: 15px 0;
}

.new-p-training-div1-bg {
  background-image: linear-gradient(#00000042, #0000006b), url('../public/images/training4.jpg');
  /*            background-color: red;*/
  padding: 46px;
  background-size: cover;
  background-position: center;
  color: white;
}

.new-p-training-div-span1 {
  font-size: 14px;
  line-height: 23px;
}

.new-p-training-div-ul1 li {
  margin: 10px 0;
}

.new-p-training-div-1-p1 {
  font-size: 14px;
  line-height: 23px;
}

.main-img-1 {
  height: 300px;
  width: 100%;
  object-fit: cover;
}



/* events  */
.margin-di {
  margin-bottom: 15px;
}



/* about us  */
.about_sec1_div_14 {
  width: 100%;
  height: 300px;
  background-color: #8c8c8c;

}


/* contact us  */

.form_submit {
  border: 0px;
  background-color: transparent;
  padding: 0px;
}

/* ========================= nk oppertunity css ========================== */

.opportunity_h_1 {
  font-size: 18px;
}

.opportunity_p_1 {
  width: 80%;
  margin: auto;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  color: #434343;
}

.opportunity_h_2 {
  margin-bottom: 15px;
}

.opportunity_p_2 {
  margin-bottom: 0px;
  line-height: normal;
  font-size: 17px;
  font-weight: 700;
  padding: 10px 0px;
  background-color: #30cbff78;
}

.opportunity_div_3 {
  background-color: #ffffffad;
  height: 100%;
}

.opportunity_p_3 {
  padding: 15px;
  font-size: 15px;
  line-height: 26px;
  font-weight: 600;
  color: #434343;
}

blockquote {
  max-width: 100%;
}

.opportunity_p_5 {
  margin-bottom: 5px;
  line-height: normal;
  font-size: 18px;
  font-weight: 700;
}

.opportunity_p_6 {
  line-height: 22px;
  margin-bottom: 15px !important;
  font-size: 14px;
  font-weight: 600;
  color: #434343;
}

.opportunity_div_6 {
  border: 1px solid #b8b8b8;
  background-color: transparent;
  height: 100%;
  box-shadow: 0 2px 43px 0 rgba(2, 2, 2, .07);
  transition: all 0.4s ease;
}

.opportunity_div_6:hover {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-box-shadow: 0 50px 30px -40px rgba(0, 0, 0, .1);
  box-shadow: 0 50px 30px -40px rgba(0, 0, 0, .1);
  background-color: white;
}

.opportunity_img_1 {
  height: 260px;
  width: 100%;
  object-fit: cover;
}

.opportunity_div_10 {
  background-color: #21b8eb1a;
}

.opportunity_p_10 {
  margin-bottom: 35px;
  font-size: 25px;
  font-weight: 700;
  color: #5496ca;
  text-transform: capitalize;
}

.opportunity_p_11 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #434343;
}

.opportunity_p_12 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #5496ca;
  /*text-transform: capitalize;*/
}

.opportunity_ul_1 {
  padding-left: 25px;
  margin-top: 20px;
}

.opportunity_li_1 {
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
}

.opportunity_img_2 {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

/* ========================= /nk oppertunity css ========================== */


/* top-header  */
section.top-bar {
  background: #030f62;
  z-index: 999;
  padding: 0 1%;
}

img.imageContainer.small {
  width: 50px;
  padding: 10px;
  margin-left: 10px;
}

.flag-text {
  color: white;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
}

@media only screen and (max-width: 770px) {
  img.imageContainer.small {
    width: 15%;
  }

}

.about_sec1_p_1 .more {
  display: inline;
}

.about_sec1_p_1 .dots {
  display: inline;
}

.btn-more {
  background: none;
  border: none;
  color: #1b6db5;
  cursor: pointer;
  padding: 0;
  text-transform: capitalize;
  margin-left: 10px;
}

.btn-more:hover {
  color: #1b6db5;
}

.more {
  transition: max-height 0.6s ease-in-out;
}


p.whoweare_p_2,
p.experience_p_2,
.opportunity_p_11,
.new-p-training-div-1-p,
.new-p-training-div-span,
.events_p_3,
.membership_p_3,
.about_sec1_p_8 {
  text-align: justify !important;
}



* {
  box-sizing: border-box;
}

.blog_single {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
}

.blog_single:hover .overlay {
  opacity: 1;
}

.gallery {
  max-width: 1000px;
  margin: auto;
}

.gallery-grid {
  padding-right: 10px !important;
  padding-left: 0px !important;
}

.overlay.middle {
  font-size: 11px;
  padding: 8px;
  line-height: 1.3;
}

.overlay a {
  color: #fff;
}

.overlay.bottom {
  font-size: 13px !important;
}

.col-md-5.gallery-grid .blog_single:nth-of-type(1) .image {
  height: 300px;
  object-fit: cover;
}

.col-md-5.gallery-grid .blog_single:nth-of-type(2) .image {
  height: 145px;
  object-fit: cover;
}

.grid-right.gallery-grid .blog_single:nth-of-type(1) .image {
  height: 255px;
  object-fit: cover;
}

.grid-right.gallery-grid .blog_single:nth-of-type(2) .image {
  height: 190px;
  object-fit: cover;
}

.col-md-2 .blog_single:nth-of-type(1) .image,
.col-md-2 .blog_single:nth-of-type(2) .image,
.col-md-2 .blog_single:nth-of-type(3) .image {
  height: 145px;
  object-fit: cover;
}

.tab-content {
  background-color: transparent;
  border: 0;
  border-top: none;
  padding: 0;
  position: relative;
}

.nav-pills .nav-link.active {
  color: #000000 !important;
  outline: none !important;
  background: #00abc7 !important;
  border: none !important;
  font-size: 14px;
  font-weight: 700;
  padding: 3px 20px;
  border-radius: 50px;
  line-height: 28px !important;
  height: 35px;
  min-width: auto !important;
  font-size: 14px;
}

.nav-pills .nav-link:hover {
  color: #000000 !important;
  outline: none !important;
  background: #00abc7 !important;
  border: none !important;
  font-size: 14px;
  font-weight: 700;
  padding: 3px 20px;
  border-radius: 50px;
  line-height: 28px !important;
  height: 35px;
  min-width: auto !important;
}

.gallery .nav-link {
  min-width: 0px;
  padding: 3px 20px;
  line-height: 2;
  font-size: 14px;
  margin: 0 6px;
  text-transform: capitalize;
}

button.btn.search {
  padding: 0px;
  background: transparent;
  min-width: 0px;
  margin-right: 10px;
}

.tab-content.my-tab::before {
  display: none;
}

input.search {
  height: 33px;
}

.nav-link.show {
  color: #000000 !important;
  outline: none !important;
  background: #00abc7 !important;
  border: none !important;
  font-size: 14px;
  font-weight: 700;
  padding: 3px 20px;
  border-radius: 50px;
  line-height: 28px !important;
  height: 35px;
  min-width: auto !important;
}

.carousel-item img {
  width: 100% !important;
  height: 550px !important;
  display: block;
  object-fit: cover;
}

.carousel-caption {
  color: white;
  background: #00000047;
  padding: 12px;
  z-index: 100;
  margin-left: 10px;
  width: 572px;
  text-align: start;
  margin-bottom: 50px;
}

.carousel-caption p {
  margin-bottom: 8px;
  font-size: 16px;
}

.carousel-caption h6 {
  margin-top: 0px;
  font-size: 21px;
  line-height: 1.4;
  font-weight: 400;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

li.page-item.prev a {
  background: #1eb7eb;
  border: 1px solid #1eb7eb;
}

.all-info span {
  font-size: 14px;
}

section.blog-details {
  margin: 30px 0;
}

.all-info h5 {
  margin-top: 18px;
  font-weight: 700;
}

.all-info {
  max-width: 1000px;
  margin: 45px auto;
}

.all-info h6 {
  font-size: 30px;
  color: #7a7a7a;
  line-height: 1.4;
}

.intro-block {
  display: flex;
  align-items: flex-start;
  font-family: 'Segoe UI', sans-serif;
}

.intro-block .big-letter {
  font-size: 160px;
  font-weight: 700;
  line-height: 0.9;
  color: #7a7a7a;
  font-family: Arial, sans-serif;
  margin-right: 25px;
}

.intro-block .text {
  font-size: 30px;
  line-height: 1.5;
  color: #7a7a7a;
  font-weight: 500;
}

p.small {
  font-size: 15px;
  line-height: 1.6;
  color: #7a7a7a;
  margin-top: 22px;
  text-align: justify;
}

.all-info-det h1 {
  color: #192a3d;
  font-size: 27px;
  font-weight: 700;
}

.all-info-det {
  margin-top: 38px;
}

.all-info-det img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.down img {
  height: 400px;
  object-fit: cover;
  margin-top: 28px;
}

.comment p {
  margin-bottom: 7px;
}

.comment {
  border-left: 4px solid #2872fa;
  padding-left: 27px;
}

.all-info-det h1 {
  color: #192a3d;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 18px;
}

.all-info-det p {
  font-size: 15px;
  line-height: 1.8;
  color: #7a7a7a;
  text-align: justify;
}

ul.blog-list {
  padding-left: 50px;
  font-size: 15px;
  color: #7a7a7a;
  line-height: 1.8;
}

button.arrow {
  background: transparent;
  border: none;
  padding: 0;
  width: 24px;
}

.dropdown-menu.blog-drop {
  display: block !important;
  opacity: 0;
  transform: translateY(-20px) !important;
  transition: transform 0.5s ease, opacity 0.3s ease;
  visibility: hidden;
  pointer-events: none;
  margin-left: 28px;
}

.dropdown-menu.blog-drop.show {
  opacity: 1;
  transform: translateY(10px) !important;
  visibility: visible;
  pointer-events: auto;
  padding: 10px;
  border-radius: 10px;
  margin-left: 28px;
  border: 1px solid #9c9c9c;
}

.social-links {
  display: flex;
  gap: 22px;
  margin: 10px 20px;
}

.social-links p {
  font-size: 14px;
  font-weight: 500;
  color: #474747;
}

.blog-drop .dropdown-item {
  padding: 5px;
  background: #21b9f5;
  color: #fff;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  margin: 0px 5px;
}

.blog-drop .dropdown-item i {
  position: relative;
  top: 3px;
  left: 6.5px;
}

a.dropdown-item.copy {
  background: #fff;
  color: #1a1a1a;
  height: 0;
  position: relative;
  top: -22px;
  text-align: center;
}

a.dropdown-item.copy p {
  margin: 0;
  font-size: 11px;
  line-height: 1;
  color: #1a1a1a;
}

@media (max-width: 768px) {
  .intro-block {
    flex-direction: row;
    align-items: flex-start;
  }

  .all-info-det img {
    height: 200px;
    object-fit: cover;
    margin-bottom: 22px;
  }

  .down img {
    margin-top: 0px;
  }

  .all-info {
    margin: 25px auto;
  }

  .dropdown-menu.blog-drop.show {
    margin-left: -10px;
  }

  .dropdown-menu.blog-drop.show {
    margin-left: -40px;
    transform: translateY(34px) !important;
  }

  .intro-block .big-letter {
    font-size: 100px;
    margin-bottom: 20px;
    margin-right: 2px;
  }

  .intro-block .text {
    font-size: 20px;
    text-align: justify;
  }
}


@media screen and (max-width: 768px) {
  .new-p-training-div {
    padding: 22px 0;
  }

  .new-p-training-div-main-img1 {
    width: 200px;
    height: 200px;
  }

  .gallery-grid {
    padding-right: 0;
    padding-left: 0;
  }

  .new-p-training-div1-bg {
    padding: 19px;
  }

  h1.bold {
    margin-top: 14px;
  }

  .blog-tabs {
    display: flex;
    flex-wrap: inherit;
    list-style: none;
    overflow: scroll;
    white-space: nowrap;
    width: 100%;
    padding-bottom: 5px;
    margin-top: 10px;
  }

  ul.blog-list {
    padding-left: 14px;
  }

  .page_slider .home_slider .intro_layers h2 {
    margin-top: 75px;
  }
}

@media screen and (max-width: 559px) {
  .margin-ul-div {
    margin-top: 30px;
  }

  h1.bold {
    font-size: 25px;
    margin-top: 20px;
  }

  .carousel-caption {
    margin-left: -45px !important;
    width: 94% !important;
  }

  section .section-heading2 {
    font-size: 25px;
  }

  .carousel-caption h6 {
    font-size: 16px;
  }

  .media-icon {
    margin: 2px 0;
  }

  .opportunity_h_2 {
    font-size: 24px;
    line-height: 1.3;
    padding: 0px 4px;
  }

  header.page_header {
    top: -1px;
  }

  .page_header a.logo img {
    min-width: 135px;
  }

  section .section-heading {
    line-height: 1.2;
  }
}

@media screen and (max-width: 500px) {
  .gallery-grid {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}

@media screen and (max-width: 767px) {
  .member-height {
    height: auto;
  }

  .membership_area {
    margin: 0px 0 0 0;
  }
}